/* Import Poppins, Montserrat, Roboto, VT323, Silkscreen, DotGothic16, and Rubik Pixels */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=VT323&family=Silkscreen&family=DotGothic16&family=Rubik+Pixels&display=swap');

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shining-animation {
  position: relative;
  overflow: hidden;
}

.shining-animation::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(251, 190, 36, 0.719) 0%, rgba(251, 191, 36, 0) 70%);
  animation: shine 2.1s infinite;
}

@keyframes shine {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, 50%) rotate(90deg);
  }
}



